<details>
  <summary>{{ currency_value|round(2) }} <em>{{ currency_symbol }}</em></summary>
  <ul>
    {% for value, currency in currencies %}<li>{{ "{:.2f}".format(value) }} <em>{{ currency }}</em></li>{% endfor %}
  </ul>
</details>
