{% macro demo_macro(demo) %}<strong>{{ demo }}</strong>{% endmacro %}

<blockquote>
{% if demo %}
  Argument <em>demo</em> is {{ demo_macro(demo) }}
{% else %}
  No Argument <em>demo</em> given.
{% endif %}
</blockquote>
