{% from "timeline_macros.html" import timeline_stylesheet, timeline_js %}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    {{ timeline_stylesheet() }}
    {{ timeline_js() }}
  </head>
  <body>
    {{ content }}
  </body>
</html>