{%- macro timeline_stylesheet() -%}
  <link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css" />
{%- endmacro -%}

{%- macro timeline_js() -%}
  <script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>
{%- endmacro -%}

{%- macro timeline_embed(id, style=None) -%}
  {% if not style %}
    {% set style = "width: 100%; height: 600px" %}
  {% endif %}
  <div{{ {"id": id, "style": style} | xmlattr }}></div>
{%- endmacro -%}

{%- macro timeline_script(id, data, options=None) -%}
  <script type="text/javascript">
    // The TL.Timeline constructor takes at least two arguments:
    // the id of the Timeline container (no '#'), and
    // the URL to your JSON data file or Google spreadsheet.
    // the id must refer to an element "above" this code,
    // and the element must have CSS styling to give it width and height
    // optionally, a third argument with configuration options can be passed.
    // See below for more about options.

    timeline = new TL.Timeline(
      "{{ id }}",
      {% if data is string %}"{{ data }}"{% else %}{{ data }}{% endif %},
      {% if options %}{{ options }}{% else %}{}{% endif %}
    );
  </script>
{%- endmacro -%}

{%- macro timeline(id, data, styles=None, options=None) -%}
  {{ timeline_embed(id, style) }}
  {{ timeline_script(id, data, options) }}
{%- endmacro -%}
